<!--
  
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">EduCare</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="faculty" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Faculty Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="admin" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Dashboard
        </a>
      </li>
    </div>
  </nav>

</div>

-->

<router-outlet></router-outlet>


