
<div class="row row justify-content-center align-self-center ">
    <div style="width: 500px" *ngIf="research">
      <h2 class="title text-center mb-4">Research Supervision Details</h2>
      <div class="details my-2">
        <label><b>facultyId: </b></label> {{ research.facultyId }}
      </div>
      <div class="details my-2">
        <label><b>projectName: </b></label> {{ research.projectName }}
      </div>
      <div class="details my-2">
        <label><b>levelOfStudy: </b></label> {{ research.levelOfStudy }}
      </div>
      <div class="details my-2">
        <label><b>coSupervisor: </b></label> {{ research.coSupervisor }}
      </div>
      <div class="details my-2">
        <label><b>areaOfResearch: </b></label> {{ research.areaOfResearch }}
      </div>
      <div class="details my-2">
        <label><b>currentCompletion: </b></label>
        {{ research.currentCompletion }}
      </div>
      <div class="details my-2">
        <label><b>startDate: </b></label> {{ research.startDate }}
      </div>
  
      <div class="details my-2">
        <label><b>estimatedCompletionDate: </b></label>
        {{ research.estimatedCompletionDate }}
      </div>
  
      <br />
      <br />
      <button
        (click)="updateLink()"
        class="btn btn-primary btn-outline-dark text-white m-1"
      >
        <i class="fa fa-edit"></i> update
      </button>
      <button
        (click)="list()"
        class="btn btn-success btn-outline-dark text-white m-3"
      >
        <i class="fa fa-reply"></i> Back</button
      ><br />
    </div>
  </div>
  
